 html {
     scroll-behavior: smooth;
 }



 body {
     font-family: 'Outfit', sans-serif;
     margin: 0;
     background: #f7ebff;
     color: #333;
     cursor: default !important;
     user-select: none;
     max-width: none;
     /* <<< garante largura total */
 }

 /* ===== NAVBAR ===== */

 .navbar {
     background: #9A12AF !important;
     position: fixed;
     top: 0;
     /* sempre no topo */
     left: 0;
     width: 100%;
     color: white;
     margin: 0;
     /* remove negativo */
     padding: 15px 2vw;
     /* padding horizontal proporcional */
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 1;
     flex-wrap: nowrap;
     /* evita quebrar no mobile */
     box-sizing: border-box;
     /* garante que padding não expanda a barra */
 }


 .navintro {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .navbar-brand,
 .navbar-brand:link,
 .navbar-brand:visited {
     color: #FDE9FF !important;
     text-decoration: none !important;
     cursor: pointer !important;
 }

 .navbar-brand:hover {
     color: #fff0ff !important;
 }

 .navbar-brand {
     font-size: 2em;
     font-weight: 400;
     font-family: 'Sacramento', cursive;
 }

 .navbar-nav {
     display: flex;
     gap: 6px;
     font-size: 1.1em;
     margin-left: auto;
     margin-right: 100px;
 }

 .navbar-nav a {
     color: #ffffff !important;
     text-decoration: none;
 }

 .navbar-nav a:hover {
     color: #f3c9f8 !important;
 }

 .logo {
     margin-left: 40px;
     vertical-align: middle;
 }

 /* ===== INTRO SEÇÃO ===== */
 section {
     padding: 140px 50px 2px;
     text-align: center;
 }


 h1 {
     color: #4a0072;
 }

 .intro {
     margin: 20px 100px auto 60px;
     text-align: left;
     display: flex;
     align-items: center;
     gap: 20px;
 }

 .divtexto {
     margin-left: 60px;
 }

 .divtexto h1 {
     font-size: 2.8em;
     margin-bottom: 10px;
 }

 .divtexto p {
     font-size: 1.08em;
     margin-right: 3em;
 }

 .imgintro {
     width: 350px;
     height: 350px;
     object-fit: cover;
 }

 /* ===== TOPICS ===== */
 .topics {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 15px;
     margin-top: 30px;
 }

 .topic-btn {
     background: #9c27b0;
     color: white;
     width: 250px;
     height: 100px;
     font-size: 20px;
     margin: 10px;
     border-radius: 8px;
     cursor: pointer;
     border: none;
     transition: background 0.3s;
 }

 .topic-btn:hover {
     background: #c07cce !important;
 }

 .topic-btn:active {
     background: #c07cce !important;
 }

 .btn.active {
     background: #9c27b0;
 }

 /* ===== MODAL ===== */
 .modal-content.conteudo {
     margin-top: 8vw;
     background: white;
     padding: 30px;
     border-radius: 12px;
     width: 100%;
     text-align: left !important;
     position: relative;
 }

 /* Deixa todos os modais com tamanho padronizado */
 .modal-dialog {
     max-width: 900px;
     /* largura fixa "ok" (entre lg e xl) */
     width: 90%;
     /* ocupa 90% da tela em telas menores */
 }

 /* O corpo do modal fica rolável se passar do limite */
 .modal-dialog-scrollable .modal-body {
     max-height: 70vh;
     /* altura máxima: 70% da tela */
     overflow-y: auto;
     /* ativa rolagem vertical */
 }

 /* Melhorando a leitura dentro */
 .modal-body h2 {
     margin-top: 1rem;
     font-size: 1.25rem;
     font-weight: bold;
 }

 .modal-body p {
     text-align: justify;
     line-height: 1.6;
     margin-bottom: 0.8rem;
 }

 .modal-header .btn-close {
     color: #6a0dad;
 }

 .sobre h1 {
     font-size: 2.2vw !important;
 }

 .modal.fade .modal-dialog {
     /* animação suave */
     transform: translateY(30px);
     transition: transform 0.3s ease-out;
     justify-content: center;
 }

 .modal.show .modal-dialog {
     justify-content: center !important;
     transform: translateY(0);
 }

 /*jogos*/
 .jogos h1 {
     color: #4a0072;
     font-size: 2.5em;
     margin: auto 20% auto 20%;
 }

 .jogos h2 {
     color: #4a0072;
     margin-top: 50px;
     font-size: 2em;
 }

 .jogos p {
     margin: 2% 15% auto 15%;
     font-size: 20px;
     text-align: center;
     font-weight: 300;
 }



 .jogos .digitais {
     margin-top: 20px;
     display: flex;
     gap: 30px;
 }

 .jogos .digitais .jogo {
     max-width: 600px;
     /* Limita o tamanho máximo */
     width: 100%;
     /* Ocupa sempre a largura disponível */
     background-color: #F5EFF8;
     border: 1px solid #c6b5e0;
     border-radius: 10px;
 }

 .jogos .digitais .jogo img {
     width: 70px;
     height: 70px;
     align-self: center;
     margin-top: 30px;
     border-radius: 20px;
 }

 .jogos .digitais .jogo .card-body {
     padding: 1px;
 }

 .jogos .digitais .jogo .card-title {
     font-size: 24px;
     margin-top: 8px;
     color: #990EAE;
 }

 .jogos .digitais .jogo .card-text {
     font-size: 16px;
 }

 .jogos .digitais .jogo .btn {
     margin-top: 20px;
     padding: 8px 35px;
     background-color: #E4CAE5;
     font-size: 18px;
     color: #4D0957;
     border: none;
 }


 .jogo {
     height: 350px;
     background-color: #F5EFF8;
 }

 .imagens {
     display: flex;
     margin-top: 6vw;
     gap: 3vw;
 }

 .atividades .imagens .img1 {
     margin-top: 14vw;
     width: 18vw;
     height: 18vw;
 }

 .atividades .imagens .img2 {
     width: 18vw;
     height: 18vw;
 }

 .atividades .imagem .img3 {
     margin-top: 6vw;
     width: 32vw;
     height: 18vw;
     border-radius: 1vw;
 }

 .terapeuticas {
     display: flex !important;
 }

 .terapeuticas .imagens .img1 {
     width: 16vw !important;
     height: 12vw !important;
     border-radius: 0.8vw;
 }

 .terapeuticas .imagens .img2 {
     width: 16vw !important;
     height: 12vw !important;
     border-radius: 0.8vw;
 }

 .terapeuticas .img3 {
     margin-top: 1vw;
     width: 30vw !important;
     height: 15vw !important;
     border-radius: 1vw;
 }

 .terapeuticas .imagens {
     display: flex;
     margin-top: 6vw;
     gap: 1vw;
 }

 .terapeuticas .ativ h2 {
     margin: 1vw;
 }

 .texto p {
     text-align: left;
     font-size: 20px;
     font-weight: 300;
     margin: 2vw auto;
 }

 .jogos .ativ {
     margin: 4vw auto auto 4vw;
 }


 .atividades {

     display: flex;

     h1 {
         color: #4a0072;
         text-align: left;
         font-size: 2.5em;
     }

     h2 {
         color: #4a0072;
         margin-top: 50px;
         text-align: left;
         font-size: 2em;
     }

     h3 {
         color: #4a0072;
         margin-top: 50px;
         text-align: left;
         font-size: 1.5em;
     }


     p {
         text-align: left;
         display: flex;
         margin-left: auto;
         font-size: 20px;
         font-weight: 300;
     }



 }

 /* ========== MINI CELULARES (até 480px) ========== */
 @media (max-width: 480px) {

     /* Navbar */
     .navbar {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 1.5em 5vw;
         gap: 1.5vw;
         margin: 0;
         box-sizing: border-box;
         z-index: 1;
     }

     .navintro {
         flex-direction: column;
         align-items: center;
         gap: 1.5vw;
     }

     .navbar-brand {
         font-size: 5vw;
         margin: 0.5em 0;
     }

     .logo {
         height: 12vw;
         margin: 0 auto;
     }

     .container-fluid {
         flex-direction: column;

     }

     .navbar-toggler {
         display: flex !important;
         justify-self: anchor-center !important;
     }

     /* Intro */
     .intro {
         flex-direction: column;
         text-align: center;
         margin: 20vw 2vw 2vw 2vw;
         gap: 4vw;
     }

     .divtexto {
         margin: 5vw;
     }

     .divtexto h1 {
         font-size: 6vw;
     }

     .divtexto p {
         font-size: 4.5vw;
         text-align: justify;
         margin: 8vw -8vw;
     }

     .imgintro {
         width: 55vw;
         height: 55vw;
         margin: 0 auto;
     }

     .sobre h1 {
         font-size: 8vw !important;
     }

     /* Topics */
     .topic-btn {
         width: 80%;
         font-size: 4vw;
         height: 4em;
         padding: 3vw;
     }

     .modal-content.conteudo {
         margin-left: 5vw;
         width: 95%;
         font-size: 3.6vw;
     }

     .modal-body {
         padding: 3vw;
     }

     /* Cards */
     .jogos {
         margin: 2vw auto;
         padding: 0 5vw;
     }

     .jogos p {
         margin: 6vw;
         font-size: 4.5vw;
         text-align: justify;
         font-weight: 300;
     }

     .jogos h1 {
         margin-top: 22vw;
         font-size: 6vw;
         text-align: center;
     }

     .jogos h2 {
         margin-top: 22vw;
         font-size: 8vw;
         text-align: center;
     }

     .jogos .digitais {
         flex-direction: column;
         gap: 4vw;
         align-items: center;
     }

     .jogos .digitais .jogo {
         width: 60%;
         max-width: 450px;
         height: 74vw !important;
     }


     .jogos .digitais .jogo .card-body {
         padding: 5vw;
         margin: -6vw !important;
     }

     .jogos .digitais .jogo img {
         width: 20vw;
         height: 20vw;
         margin-top: 5vw;
     }


     .jogos .digitais .card-title {
         font-size: 4vw;
         text-align: center;
     }

     .jogos .digitais .card-text {
         font-size: 4.5vw !important;
         text-align: center;
     }

     .jogos .ativ {
         margin: 0;
     }

     .jogo .btn {
         font-size: 3.5vw !important;
         padding: 2vw 5vw !important;
         display: block;
         margin: 2vw 6vw 2vw 6vw;
     }

     .imagens {
         display: none;
     }

     .imagem {
         display: none;
     }

     .atividades h3 {
         text-align: left;
         font-size: 6vw;
         margin-left: 5.5vw;
     }

     .imgs {
         display: none;
     }

 }

 /* 🔹 Mobile médio (481px – 768px) */
 @media (min-width: 481px) and (max-width: 768px) {
     .navbar {
         flex-direction: column;
         /* centraliza elementos */
         align-items: center;
         justify-content: center;
         padding: 15px 5vw;
     }

     .navbar-nav {
         flex-direction: column;
         gap: 2vw;
     }

     .navintro {
         flex-direction: column;
         align-items: center;
         gap: 1.5vw;
     }

     .navbar-brand {
         font-size: 6vw;
         margin: 1vw 0;
     }

     .container-fluid {
         flex-direction: column;

     }

     .navbar-toggler {
         display: flex !important;
         justify-self: anchor-center !important;
     }

     .logo {

         height: 10vw;
         margin: 0 auto;
     }

     .intro {
         flex-direction: column;
         margin: 10vw 1vw 10vw 1vw;
         gap: 4vw;

     }

     .divtexto {
         margin-top: 8vw;
         margin-left: 0 !important;
     }

     .divtexto h1 {
         font-size: 6vw;
         text-align: center;
     }

     .divtexto p {
         font-size: 3vw;
         text-align: justify;
         margin: 2vw;
     }

     .imgintro {
         width: 45vw;
         height: 45vw;
     }

     .sobre h1 {
         font-size: 6vw !important;
     }

     .topic-btn {
         width: 80%;
         font-size: 4vw;
         padding: 2.2vw;
     }

     .modal-content.conteudo {
         margin-top: 2vw;
     }

     /* ===== CARDS ===== */
     .jogos h1 {
         font-size: 6vw;
         margin: 0;
     }

     .jogos h2 {
         font-size: 5vw;
         margin-top: 8vw;
         text-align: center;
     }


     .jogos .descjogos {
         margin: 4vw 0 !important;
         font-size: 4vw;
         text-align: justify;
         font-weight: 300;
     }

     .jogos .digitais {
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         gap: 3vw;
     }

     .jogos .digitais .jogo {
         width: 40%;
         height: 44vw;
     }

     .jogos .digitais .jogo img {
         width: 12vw;
         height: 12vw;
         margin-top: 3vw;
     }

     .jogos .digitais .jogo .card-body {
         margin: -4vw !important;
     }

     .jogos .digitais .card-title {
         font-size: 4vw !important;
         margin-top: 6vw !important;
     }

     .jogos .digitais .card-text {
         font-size: 3vw !important;
     }

     .jogos .digitais .jogo .btn {
         margin-top: 20px;
         padding: 8px 35px;
         font-size: 2vw;
     }


     .atividades p {
         text-align: justify;
         display: flex;
         font-size: 20px;
         font-weight: 300;
         margin: 0 !important;
     }


     .imagens {
         display: none;

     }

     .imagem {
         display: none;
     }
 }



 /* 🔹 Tablets (768px – 1024px) */
 @media (min-width: 768px) and (max-width: 1024px) {
     .navbar {
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         padding: 1em 5vw;
     }

     .navintro {
         flex-direction: row;
         gap: 2vw;
     }

     .navbar-brand {
         font-size: 4vw;
         margin: 0;
     }

     .logo {
         height: 6vw;
         margin: 0;
     }

     .container-fluid {
         flex-direction: column;
     }

     .navbar-expand-custom {
         flex-direction: column;
         /* empilha vertical */
         width: 100%;
     }

     .navbar-expand-custom .navbar-nav {
         flex-direction: column;
         /* lista vertical */
     }

     .navbar-expand-lg .navbar-collapse {
         margin: auto 1vw auto 16vw;
     }

     .intro {
         flex-direction: column;
         gap: 4vw;
         margin: 2vw !important;
         text-align: left;
     }

     .divtexto {
         margin-left: auto !important;
         justify-self: unsets;
     }

     .divtexto h1 {
         font-size: 4.5vw;
         text-align: center;
     }

     .divtexto p {
         margin: 4vw auto;
         font-size: 2.8vw;
         text-align: justify;
     }

     .imgintro {
         width: 30vw;
         height: 30vw;
     }

     .sobre h1 {
         font-size: 3em !important;
     }

     .topic-btn {
         width: 40vw;
         height: auto;
         font-size: 1.8vw;
         padding: 1.5vw;
     }

     .modal-content.conteudo {
         height: auto;
         margin-top: 1vw;
     }

     .desc {
         margin: auto !important;
     }

     .jogos .descjogos {
         font-size: 2.5vw;
         text-align: justify;
     }

     .jogos h1 {
         margin: 0 !important;
         font-size: 4vw;
     }


     .jogos h2 {
         margin-top: 50px;
         margin-bottom: 5vw;
         font-size: 5vw;
     }

     .jogos p {
         font-size: 2.3vw;
         text-align: left;
         font-weight: 300;
     }

     .jogos .digitais {
         flex-wrap: wrap;
         justify-content: center;
         gap: 3vw;
     }

     .jogos .digitais .jogo {
         width: 31%;
         height: 36vw;
     }

     .jogos .digitais .jogo img {
         width: 8vw;
         height: 8vw;
         margin-top: 3vw;
     }

     .jogos .digitais .card-title {
         font-size: 2.5vw;
     }

     .jogos .digitais .card-text {
         margin: auto 3vw;
         padding: 2px;
         text-align: center;
         font-size: 2vw !important;
     }

     .jogo .btn {
         font-size: 2.2vw;
         padding: 1vw 3vw;
     }


     .imagens {
         display: flex;
         flex-wrap: wrap;
         margin: 24vw 2vw 0;
         gap: 4vw;
     }

     .imgs {
         display: flex;
         flex-wrap: nowrap;
     }

     .atividades .imagens .img1 {
         margin-top: 1vw;
         width: 18vw;
         height: 18vw;
     }

     .atividades .imagens .img2 {
         width: 18vw;
         height: 18vw;
     }

     .atividades .imagem .img3 {
         margin-top: 26vw;
         width: 32vw;
         height: 18vw;
         border-radius: 1vw;
     }
 }


 /* 🔹 Notebook pequeno (1025px – 1299px) */
 @media (min-width: 1025px) and (max-width: 1299px) {
     .navbar {
         flex-direction: row;
         align-items: center;
         gap: 10vw;
     }

     .navbar-nav {
         flex-direction: row !important;
         font-size: 1.5vw;
         gap: 1vw;
         margin-right: 8vw;
     }

     .navbar-brand {
         font-size: 2.5vw;
         margin: 0;
     }

     .navbar-nav {
         flex-direction: row !important;
         font-size: 1.35vw;
         gap: 0.2vw;
     }

     .navbar-expand-lg .navbar-collapse {
         display: flex !important;
         flex-basis: auto;
         left: 5vw;
         position: relative;
     }

     .navintro {
         display: flex;
         align-items: center;
         gap: 1px;
     }


     .logo {
         margin-left: 1vw;
         height: 3.5vw;
     }

     .intro {
         margin: 1vw;
         gap: 3vw;
     }

     .divtexto h1 {
         font-size: 3vw;
     }

     .divtexto p {
         font-size: 1.3vw;
     }

     .imgintro {
         width: 24vw;
         height: 24vw;
     }

     .topics {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         gap: 0vw;
         margin-top: 2vw;
     }

     .topic-btn {
         width: 20vw;
         height: auto;
         font-size: 1.4vw;
         padding: 2vw;
     }

     .modal-content.conteudo {
         height: auto;
         margin-top: 1vw;
     }

     /* ===== CARDS ===== */
     .jogos h1 {
         color: #4a0072;
         font-size: 2.5vw;
         margin: auto 20% auto 20%;
     }

     .jogos p {
         font-size: 1.5vw;
         font-weight: 300;
     }

     #jogos {
         margin: 2vw !important;
     }

     .jogos .digitais {
         gap: 2vw;
         justify-content: center;
     }

     .jogos .digitais .jogo {
         width: 40%;
         height: 22vw;
     }

     .jogos .digitais .jogo .card-text {
         font-size: 1em !important;
     }

     .jogos .digitais .jogo img {
         width: 5vw;
         height: 5vw;
         margin-top: 2vw;
     }

     .jogos .digitais .jogo .card-body {
         padding: 2vw;
         margin: -50px;
     }

     .jogos .digitais .jogo .card-title {
         font-size: 1.5vw;
         margin-top: 3vw;
     }


     .jogo .btn {
         font-size: 1.2vw;
         padding: 0.8vw 2vw;
     }
 }



 /* Telas grandes: monitores >= 1300px */
 @media (min-width: 1300px) {
     .container {
         max-width: 2000px;
         /* segura o conteúdo no centro */
         margin: 0 auto;
     }

     .navbar {
         flex-direction: row;
         align-items: center;
         gap: 10vw;
     }

     .navbar-expand-lg .navbar-collapse {
         display: flex !important;
         flex-basis: auto;
     }

     .logo {
         height: 3.5vw;
     }

     .navbar-brand {
         font-size: 2.4vw;
         /* proporcional à largura da tela */
     }

     .navbar-nav {
         flex-direction: row !important;
         font-size: 1.4vw;
         gap: 1vw;
         margin-right: 4vw;
     }

     .intro {
         margin: 4vw;
         padding: 6vw 2vw !important;
     }

     .divtexto {
         margin-left: 0 !important;
     }

     .divtexto h1 {
         font-size: 3.4vw;
         margin-bottom: 10px;
     }

     .divtexto h2 {
         font-size: 3vw;
     }

     .divtexto p {
         font-size: 1.4vw;
         font-weight: 300;
     }

     .imgintro {
         width: 28vw;
         height: 28vw;
     }

     .sobre h1 {
         font-size: 2.5vw;
     }

     .topics {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         gap: 2vw;
         margin-top: 2vw;
     }

     .topic-btn {
         width: 18vw;
         height: 6vw;
         font-size: 1.3vw;
         border-radius: 10px;
     }

     .modal-content {
         max-width: 800px;
         font-size: 1.1em;
     }

     .modal-content.conteudo {
         margin-top: 1vw;
         height: fit-content;
     }

     .modal-dialog-scrollable .modal .jogos .digitais {
         margin-top: 5vw !important;
         display: flex !important;
         gap: 3vw !important;
         justify-content: center;
     }

     #jogos {
         margin: 4vw !important;
     }

     .jogos p {
         font-size: 1.5vw !important;
     }

     .jogos .digitais {
         margin-top: 4vw;
         display: flex;
         gap: 1vw;
         justify-content: center;
     }

     .jogos .digitais .jogo {
         height: 19vw !important;
         width: 18% !important;
         border-radius: 0.4vw;
     }

     .jogos .digitais .jogo img {
         width: 5vw;
         height: 5vw;
         align-self: anchor-center;
         margin-top: 1.5vw;
         border-radius: 20px;
     }


     .jogos .digitais .card-text {
         font-size: 1.1vw !important;
     }

     .jogos .digitais .card-title {
         font-size: 1.8vw !important;
         margin-top: 0.4vw !important;
         color: #990EAE !important;
     }

     .jogos h1 {
         font-size: 2.5vw;

     }

     .jogos h2 {
         font-size: 2.5vw;
         margin-top: 4vw;
     }

     .jogos .atividades p {
         font-size: 1.5vw;
         font-weight: 300;
     }

     .jogo .btn {
         margin-top: 1vw !important;
         padding: 0.4vw 2vw !important;
         background-color: #E4CAE5;
         font-size: 1.1vw !important;
         color: #4D0957;
         border: none;
         border-radius: 0.5vw;
     }

     .atividades h3 {
         color: #4a0072;
         margin-top: 50px;
         text-align: left;
         font-size: 2vw;
     }
 }

 /* Animação de cada item */
 .reveal {
     opacity: 0;
     transform: translateY(30px);
     transition: all 0.6s ease;
 }

 .reveal.active {
     opacity: 1;
     transform: translateY(0);
 }